
.btn-outline-primary {
	color: #007bff;
	border-color: #CCCCCC
}

.btn-outline-primary:hover {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff
}

.btn-outline-primary.focus,
.btn-outline-primary:focus {
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
	color: #007bff;
	background-color: transparent
}

.btn-outline-primary:not(:disabled):not(.disabled).active,
.btn-outline-primary:not(:disabled):not(.disabled):active, .show >
.btn-outline-primary.dropdown-toggle {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show >
.btn-outline-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(0,123,255,.5)
}

.wrapper {
	display: inline-block;
}
thead input {
	width: 100%;
}

table.dataTable {
	margin-top: 2em !important;
	margin-bottom: 2em !important;
}

	table.dataTable tbody tr.odd {
		background-color: lavender !important;
	}

	table.dataTable tbody tr.even {
		background-color: white !important;
	}

.table th, .table td {
	text-align: center;
}

#bookTable {
	width: 100% !important;
	border: 1px solid black;
}

#bookTable_wrapper {
	padding-top: 20px;
}

#bookTable_length {
	padding-bottom: 15px;
}

a, a:hover {
	color: white;
}