@{
	ViewBag.Title = "Home Page";
}
<div class="bg">
	<img src="https://media.architecturaldigest.com/photos/55e762d8302ba71f30163466/master/w_1600%2Cc_limit/dam-images-decor-libraries-library-03-simon-jacobsen.jpg" height="100%" width="100%"  display="block" object-fit="cover";/>
</div>
