@{
	ViewBag.Title = "Home Page";
}
<style>
	.container {
		margin-left: 0px;
		padding-left: 0px;
		padding-right: 0px;
		margin-right: 0px;
	}
	img {
	    height:700px;
		width:135%;
	}
</style>

<div class="first-container">
	<img src="https://media.architecturaldigest.com/photos/55e762d8302ba71f30163466/master/w_1600%2Cc_limit/dam-images-decor-libraries-library-03-simon-jacobsen.jpg" />	
</div>

