/*body, html {
	height: 100%;
	margin: 0;
}

.bg {
	background-image: url("https://media.architecturaldigest.com/photos/55e762d8302ba71f30163466/master/w_1600%2Cc_limit/dam-images-decor-libraries-library-03-simon-jacobsen.jpg");
	height: 100%;
	background-position: center;
	background-repeat:no-repeat;
	background-size:auto;
}
*/